<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head.ejs') %>
<body>
    <div class="content">
    <%- include ('partials/header.ejs') %>
    <article>
    <%- include ('partials/search.ejs') %>
        <h2>Formular una pregunta</h2>
        <form action="/question/make" method="POST">
            <h3>Título</h3>
            <p>Se específico e imagina que estas haciendo una pregunta a otra persona</p>
            <input type="text" name="title" required>
            <h3>Cuerpo</h3>
            <p>Incluye toda la información que alguien necesitaría para responder tu pregunta</p>
            <textarea name="body" required></textarea>
            <h3>Etiqueta</h3>
            <p>Añade hasta 5 etiquetas para describir sobre qué trata tu pregunta</p>
            <input type="text" name="tags">
            <div class="login-buttons">
                <input type="submit" value="Formular pregunta">
            </div>

            <% if (errorMsg!=null) { %>
                <div class="error"><%= errorMsg %></div>
            <% } %>

        </form>
    </article>
    </div>
    <%- include ('partials/footer.ejs') %>
</body>

</html>