<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head.ejs') %>
<body>
<%- include ('partials/header.ejs') %>
    <article>
    <%- include ('partials/search.ejs') %>

    <h2><%= title %></h2>

    <div class="make-question">
        <p><%=questions.length%> preguntas</p>
        <a class="link-button" href="/make-question">Formular una pregunta</a>
    </div>

    <% if (errorMsg!=null) { %>
        <div class="error"><%= errorMsg %></div>
    <% } %>

    <div>
        <ul>
            <% if (questions) { questions.forEach(function(question) { %>
            <li class="card">
                <div class="card-left">
                    <h3>
                        <a href="/question/<%= question.id %>"><%= question.title %></a>
                    </h3>
                    <p>
                        <%= question.body %>
                        <% if(question.body.length === 150) { %>
                            ...
                        <% }; %>
                    </p>
                    <div class="tag-container">
                        <% if(question.tags) { question.tags.forEach(function(tag) { %>
                       <a class="tag" href = "/questionTagFilter/<%= tag %>"><%= tag %></span></a>
                        <% })}; %>
                    </div>
                </div>
                <div class="card-right">
                    <p>Formulada el <%= question.date %></p>
                    <img src="/user_imgs/<%= question.img %>">
                    
                    <a href="/users/<%= question.userId %>">
                        <span><%= question.name %></span>
                    </a>
                </div>
            </li>
            <% })}; %>
        </ul>
    </div>
</article>

<%- include ('partials/footer.ejs') %>

</body>

</html>