<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head.ejs') %>
<body>
<%- include ('partials/header.ejs') %>
    <article>
    <%- include ('partials/search.ejs') %>

        <h2>Usuarios</h2>

        <form class="search">
            <div class="search-box">
                <img class="search-icon" src="./img/busqueda.png">
                <input class="search-input" type="text" placeholder="Filtrar por nombre de usuario">
            </div>
            <input type="submit" value="Filtrar">
        </form>
        <% if (errorMsg!=null) { %>
            <div class="error">
                <%= errorMsg %>
            </div>
            <% } %>
                <div class="users-group">

                    <% if (users) { users.forEach(function(users) { %>
                        <div class="user-data">
                            <img class="userPhoto" src="./user_imgs/<%= users.img %>" alt="imagen de perfil">
                            <span>
                                <%= users.name %>
                            </span>
                            <span class="number"><%= users.score %></span>                            
                            <% if (users.tag!=null) { %>
                            <span class="tag"><%= users.tag %></span>
                            <% } %>
                        </div>
                        <% })}; %>

                </div>
    </article>

    <%- include ('partials/footer.ejs') %>

</body>

</html>