<!DOCTYPE html>
<html lang="es">

    <%- include ('partials/head.ejs') %>
    <body>
    <%- include ('partials/header.ejs') %>
        <article>
        <%- include ('partials/search.ejs') %>

        <div class="todo">
            <div class="user-data">
                <img class="userPhoto" src="/imagenUsuario" alt="imagen de perfil">
                <span><%= name %></span>
                <span>Miembro desde <%= sud %></span>
            </div>

            <div class="stats">
                <div class="user-title">Estadísticas</div>
                <div class="data">
                    <div class="up">
                        <div>Reputación</div>
                        <div class="number"><%=score%></div>
                    </div>
                    <div class="down">
                        <div>
                            <div>Preguntas</div>
                            <div class="number"><%=numQuestion%></div>
                        </div>
                        <div>
                            <div>Respuestas</div>
                            <div class="number"><%=numAnswer%></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="medals">
                <div class="user-title">Medallas</div>
                <% if (errorMsg!=null) { %>
                    <div class="error"><%= errorMsg %></div>
                <% } %>
                
                <div class="medal-types">
                    <div class="bronze">
                        <div>
                            <div>Bronce</div>
                            <div class="number"><%= visited.bronze + qVoted.bronze2 + qVoted.bronze1 + aVoted.bronze %></div>
                        </div>
                        <ul>
                            <% if (visited.bronze!=0) {  %>
                                <li class="medal-descript">Pregunta popular x <%= visited.bronze %></li>
                            <% } %>
                            <% if (qVoted.bronze1!=0) {  %>
                                <li class="medal-descript">Estudiante x <%= qVoted.bronze1 %></li>
                            <% } %>
                            <% if (qVoted.bronze2!=0) {  %>
                                <li class="medal-descript">Pregunta interesante x <%= qVoted.bronze2 %></li>
                            <% } %>
                            <% if (aVoted.bronze!=0) {  %>
                                <li class="medal-descript">Respuesta interesante x <%= aVoted.bronze %></li>
                            <% } %>
                           
                        </ul>
                    </div>
                    <div class="silver">
                        <div>
                            <div>Plata</div>
                            <div class="number"><%= visited.silver + qVoted.silver + aVoted.silver %></div>
                        </div>
                        <ul>
                            <% if (visited.silver!=0) {  %>
                                <li class="medal-descript">Pregunta destacada x <%= visited.silver %></li>
                            <% } %>
                            <% if (qVoted.silver!=0) {  %>
                                <li class="medal-descript">Buena pregunta x <%= qVoted.silver %></li>
                            <% } %>
                            <% if (aVoted.silver!=0) {  %>
                                <li class="medal-descript">Buena respuesta x <%= aVoted.silver %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="gold">
                        <div>
                            <div>Oro</div>
                            <div class="number"><%= visited.gold + qVoted.gold + aVoted.gold %></div>
                        </div>
                        <ul>
                            <% if (visited.gold!=0) {  %>
                                <li class="medal-descript">Pregunta famosa x <%= visited.gold %></li>
                            <% } %>
                            <% if (qVoted.gold!=0) {  %>
                                <li class="medal-descript">Excelente pregunta x <%= qVoted.gold %></li>
                            <% } %>
                            <% if (aVoted.gold!=0) {  %>
                                <li class="medal-descript">Excelente respuesta x <%= aVoted.gold %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>

    </article>
    <%- include ('partials/footer.ejs') %>
</body>

</html>