<!DOCTYPE html>
<html lang="es">

    <%- include ('partials/head.ejs') %>
    <body>
    <%- include ('partials/header.ejs') %>
        <article>
        <%- include ('partials/search.ejs') %>

        <div class="todo">
            <div class="user-data">
                <img class="userPhoto" src="/user_imgs/<%= user.img %>" alt="imagen de perfil">
                <span><%= user.name %></span>
                <span>Miembro desde <%= user.date %></span>
            </div>

            <div class="stats">
                <div class="user-title">Estadísticas</div>
                <div class="data">
                    <div class="up">
                        <div>Reputación</div>
                        <div class="number"><%=score%></div>
                    </div>
                    <div class="down">
                        <div>
                            <div>Preguntas</div>
                            <div class="number"><%=questionAnswer.q.quest%></div>
                        </div>
                        <div>
                            <div>Respuestas</div>
                            <div class="number"><%=questionAnswer.a.ans%></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="medals">
                <div class="user-title">Medallas</div>
                <% if (errorMsg!=null) { %>
                    <div class="error"><%= errorMsg %></div>
                <% } %>
                
                <div class="medal-types">
                    <div class="bronze">
                        <div>
                            <div>Bronce</div>
                            <div class="number"><%= medals.bronze.length  %></div>
                        </div>
                        <ul>
                            <% if (medals.bronze) { medals.bronze.forEach(function(bronze) { %>
                            <% if (medals.bronze!=0) {  %>
                                <li class="medal-descript"><%= bronze.description%> x <%= bronze.cont %></li>
                            <% } %>
                            <% })}; %>
                            
                           
                        </ul>
                    </div>
                    <div class="silver">
                        <div>
                            <div>Plata</div>
                            <div class="number"><%= medals.silver.length %></div>
                        </div>
                        <ul>
                            <% if (medals.silver) { medals.silver.forEach(function(silver) { %>
                                <% if (medals.silver!=0) {  %>
                                    <li class="medal-descript"><%= silver.description%> x <%= silver.cont %></li>
                                <% } %>
                                <% })}; %>
                           
                        </ul>
                    </div>
                    <div class="gold">
                        <div>
                            <div>Oro</div>
                            <div class="number"><%= medals.gold.length  %></div>
                        </div>
                        <ul>
                            <% if (medals.gold) { medals.gold.forEach(function(gold) { %>
                                <% if (medals.gold!=0) {  %>
                                    <li class="medal-descript"><%= gold.description%> x <%= gold.cont %></li>
                                <% } %>
                                <% })}; %>
                            
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>

    </article>
    <%- include ('partials/footer.ejs') %>
</body>

</html>