<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mi cuenta</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="img/png" href="./img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <img src="./img/logo.png" alt="logo de 404">

                <ul>
                    <li>
                        <a class="nav-button" href="questions.html">Preguntas</a>
                    </li>
                    <li>
                        <a class="nav-button" href="notAnswer.html">Sin responder</a>
                    </li>
                    <li>
                        <a class="nav-button" href="/user-search">Usuarios</a>
                    </li>
                </ul>

            </div>
            <div class="nav-right">
                <img class="userPhoto" src="./user_imgs/<%= img %>" alt="imagen de perfil">
                <span> <a class = "nombreUsuario" href="/users"><%= name %></a></span>
                <a href="/logout">Cerrar sesión</a>
            </div>
        </nav>
</header>

<article>

    <form class="search">
        <div class="search-box">
            <img class="search-icon" src="./img/busqueda.png">
            <input class="search-input" type="text" placeholder="Bucar por título/cuerpo de pregunta">
        </div>
        <input type="submit" value="Buscar">
    </form>
        </div>

        <div class="todo">
            <div class="user-data">
                <img class="userPhoto" src="./user_imgs/<%= img %>" alt="imagen de perfil">
                <span><%= name %></span>
                <span>Miembro desde <%= sud %></span>
            </div>

            <div class="stats">
                <div class="user-title">Estadísticas</div>
                <div class="data">
                    <div class="up">
                        <div>Reputación</div>
                        <div class="number"><%=score%></div>
                    </div>
                    <div class="down">
                        <div>
                            <div>Preguntas</div>
                            <div class="number"><%=numQuestion%></div>
                        </div>
                        <div>
                            <div>Respuestas</div>
                            <div class="number"><%=numAnswer%></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="medals">
                <div class="user-title">Medallas</div>
                <div class="medal-types">
                    <div class="bronze">
                        <div>
                            <div>Bronce</div>
                            <div class="number">5</div>
                        </div>
                        <ul>
                            <li class="medal-descript">Pregunta popular</li>
                            <li class="medal-descript">Respuesta interesante</li>
                            <li class="medal-descript">Estudiante</li>
                        </ul>
                    </div>
                    <div class="silver">
                        <div>
                            <div>Plata</div>
                            <div class="number">3</div>
                        </div>
                        <ul>
                            <li class="medal-descript">Pregunta popular</li>
                            <li class="medal-descript">Respuesta interesante</li>
                            <li class="medal-descript">Estudiante</li>
                        </ul>
                    </div>
                    <div class="gold">
                        <div>
                            <div>Oro</div>
                            <div class="number">2</div>
                        </div>
                        <ul>
                            <li class="medal-descript">Pregunta popular</li>
                            <li class="medal-descript">Respuesta interesante</li>
                            <li class="medal-descript">Estudiante</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </article>
    <footer>
        <span>Hecho con amor por Sandra Alonso y Héctor Arranz</span>
    </footer>
</body>

</html>